.navbar{
  padding: 30px;
  background-color:#6EB56B;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}

.search{
  padding: 30px;
  display: flex;
  justify-content: center;
}

.card{
  padding: 30px;
  display: flex;
  justify-content: center;
}
